:root {
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
  --text-color: #333333;
  --span-color: #999999;
  --color: #213c75;
  --white: #ffffff;
  --section-color: #fafafa;
}
